{% extends "base.html" %}


{% block body %}
{% load static %}
{% load custom_filters %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Detail de L'automate</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Acceuil</a></li>
        <li class="breadcrumb-item">Liste Automates</li>
        <li class="breadcrumb-item active">Nom de l'automate</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->


  <section class="section">
      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-body">
                      <div class="filter detail">
                          <a class="icon" href="#" data-bs-toggle="dropdown">Opération <i class="bi bi-three-dots"></i></a>
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                              <li class="dropdown-header text-start">
                                  <h6>Opération</h6>
                              </li>
                              {% if not automate_classe.is_determinist %}
                              <li><a class="dropdown-item" href="{% url 'creer_determinise' automate.id %}">Déterminiser</a></li>
                              {% endif %}
                              <li><a class="dropdown-item" href="{% url 'creer_minimise' automate.id %}">Minimiser</a></li>
                              {% if contient_transitions_vides %}
                              <li><a class="dropdown-item" href="#">Enlever ε</a></li>
                              {% endif %}
                              <li><a class="dropdown-item" href="{% url 'creer_complet' automate.id %}">Completer</a></li>
                          </ul>
                      </div>
                      
  
                      <!-- Table with stripped rows -->
                     
                     {% if automate_classe.is_determinist %}
                     <h5 class="card-title">Table de l'automate: {{ automate.nom }}</h5>
                     
                         <table class="table table-striped table-bordered" style="overflow: scroll;">
                            
                             <thead>
                                 <tr>
                                     <th scope="col">État</th>
                                     {% for etiquette in etiquettes %}
                                     <th scope="col">{{ etiquette }}</th>
                                     {% endfor %}
                                 </tr>
                             </thead>
                             <tbody>
                                 {% for etat, transitions in tableau %}
                                 <tr>
                                     <th scope="row">{{ etat }} </th>
                                     {% for i in etiquettes|length|range %}
                                     <td>{{ transitions|index:i }}</td>
                                     {% endfor %}
                                 </tr>
                                 {% endfor %}
                             </tbody>
                         </table>


                         {% else %}
                         <h5 class="card-title">Tables de l'automate: {{ automate.nom }}</h5>
                         <h5 class="card-title">Etats</h5>
                         <table class="table table-striped table-bordered" style="overflow: scroll;">
                            <thead>
                                <tr>
                                    <th scope="col">État</th>
                                    
                                    <th scope="col">final</th>

                                    <th scope="col">initial</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for etat in etats %}
                                <tr>
                                    <th scope="row">{{ etat.nom }} </th>
                                    
                                    {% if etat.is_final %}
                                    <td>OUI</td>
                                    {% else %}
                                    <td>NON</td>
                                    {% endif %}
                                        
                                    
                                    {% if etat.is_initial  %}
                                    <td>OUI</td>
                                    {% else %}
                                    <td>NON</td>
                                    {% endif %}
                                        
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <h5 class="card-title">Transitions</h5>
                        <table class="table table-striped table-bordered" style="overflow: scroll;">
                            <thead>
                                <tr>
                                    <th scope="col">DEPART</th>
                                    <th scope="col">ETIQUETTE</th>
                                    <th scope="col">ARRIVE</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for  transition in transitions %}
                                <tr>
                                    <th scope="row">{{ transition.etat_depart.nom }} 
                                    {% if transition.etat_depart.is_initial %}
                                         - initial
                                    {% elif transition.etat_depart.is_final %}
                                         - final
                                     {% endif %}
                                         </th>
                                    <td>{{ transition.etiquette }}</td>
                                    <th scope="row">{{ transition.etat_arrivee.nom }}
                                        {% if transition.etat_arrivee.is_initial %}
                                        - initial
                                   {% elif transition.etat_arrivee.is_final %}
                                        - final
                                    {% endif %}    
                                    </th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                     {% endif %}
                        
  
                      <h5 class="card-title">Information:</h5>
                      <div class="information">
                        
                        {% if automate_classe.is_determinist %}
                        <h6 style="font-weight: 900; color:blue" >Calcul : {{ calcul }}</h6>
                        {% endif %}
                            
                          
                          
                          {% if reconnu %}
                          <h6 style="font-weight: 900;color:green">Résultat : {{ message }}</h6>
                          {% else %}
                          <h6 style="font-weight: 900;color:red">Résultat : {{ message }}</h6>
                          {% endif %}
                            
                          
                          <h6>Automate fini 
                              {% if automate_classe.is_determinist %}
                                  déterministe
                              {% else %}
                                  non déterministe
                              {% endif %}
                          </h6>
                          <h6>Automate asynchrone : 
                              {% if contient_transitions_vides %}
                                  Oui
                              {% else %}
                                  Non
                              {% endif %}
                          </h6>
                          <h6>Complet : 
                              {% if est_complet %}
                                  Oui
                              {% else %}
                                  Non
                              {% endif %}
                          </h6>
                      </div>
  
                      <h5 class="card-title">Rechercher un mot</h5>
                      <form action="" method="POST">
                          {% csrf_token %}
                          <div class="row mb-3">
                              <label for="inputText" class="col-sm-2 col-form-label">Entrez un mot :</label>
                              <div class="col-sm-10">
                                  <input type="text" name="mot" class="form-control" value="{{ mot }}">
                              </div>
                          </div>
                          <div class="row mb-3">
                              <label class="col-sm-2 col-form-label"></label>
                              <div class="col-sm-10">
                                  <button type="submit" class="btn btn-primary">Rechercher</button>
                              </div>
                          </div>
                      </form>
  
                      {% if resultat is not None %}
                      <div class="alert {% if resultat %}alert-success{% else %}alert-danger{% endif %}">
                          {{ message }}
                      </div>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  

</main><!-- End #main -->

  {% endblock %}