{% extends "base.html" %}


{% block body %}
{% load static %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Automate</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Acceuil</a></li>
          <li class="breadcrumb-item">Automate</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6" style="align-items: center;">

          <div class="card" style="width: 1200px;">
            <div class="card-body wel" >
              <i style="color: #22ad10;font-size: 90px;" class="bi bi-emoji-wink-fill">Bienvenue sur AutomateX</i>
              <!--
              <h5 class="card-title">Construire un automate</h5>

             General Form Elements 
              <form action="#" method="POST">
                {% csrf_token %}
                
                
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">Entrez le Nom</label>
                  <div class="col-sm-10">
                    <input type="text" name="nom" class="form-control">
                  </div>
                </div>
                
                

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Valider</button>
                  </div>
                </div>

              </form>End General Form Elements -->
           
           
            </div>
          </div>
          <!--
          <div class="card" style="width: 1000px;">
            <div class="card-body">
              <h5 class="card-title">Construire un automate a de partir </h5>

              General Form Elements 
              
                {% csrf_token %}
                
                

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label"></label>
                  <div class="col-sm-10" style="justify-content: space-around; position: absolute; display: flex;">
                    <a href="#"><button  type="submit" class="btn btn-primary">Expression regulier</button></a>
                    <a href="#"><button type="submit" class="btn btn-primary">Description</button></a>
                  </div>
                </div>

             

            </div>
          </div>
        -->
      

        </div>

        <p style="text-align: center;">AutomateX est un outil avancé de manipulation et de transformation d'automates finis. Conçu pour les étudiants, les enseignants et les chercheurs en informatique théorique, AutomateX offre une suite complète de fonctionnalités pour travailler avec des automates finis, incluant la déterminisation, la minimisation et la construction d'automates complémentaires, et pleins d'autres fonctions.</p>
        
      </div>
    </section>

  </main><!-- End #main -->

  {% endblock %}